@using DTShopping.Properties
@model DTShopping.Models.Dashboard
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

            <div class="container">
                <div class="sixteen columns">
                    <div id="bodyContent" class="twelve columns omega main_part_wrapper">
                        <h1>your cart details</h1>

                        <table cellspacing="5" cellpadding="5" border="0" style="width: 97%; border-collapse: collapse;" id="ItemList" class="shoptable">
                            <tbody>
                                <tr align="left" class="dgrdheader product-headborder">

                                    <td bgcolor="#E4E4E4"><h3>Product</h3></td>
                                    <td bgcolor="#E4E4E4"><h3>Quantity</h3></td>
                                    <td bgcolor="#E4E4E4"><h3>Market Price</h3></td>
                                    <td bgcolor="#E4E4E4"><h3>Offer Price</h3></td>
                                    <td bgcolor="#E4E4E4"><h3>Discount Points</h3></td>
                                    <td bgcolor="#E4E4E4"><h3>Shipping Charge</h3></td>
                                    <td bgcolor="#E4E4E4"><h3>Net Price</h3></td>
                                </tr>

                                @foreach (var product in Model.Products)
                                {
                                    <tr align="left" class="dgrdcell">

                                        <td bgcolor="#C5C5C5"><span>@product.title</span> <br>&nbsp;                    </td>
                                        <td bgcolor="#C5C5C5">@product.vendor_qty</td>

                                        <td bgcolor="#C5C5C5">@product.market_price</td>

                                        <td bgcolor="#C5C5C5">@product.offer_price</td>

                                        <td bgcolor="#C5C5C5">@product.RBV</td>

                                        <td bgcolor="#C5C5C5">@product.shippng_charge</td>

                                        <td bgcolor="#C5C5C5">@product.cost_price</td>
                                    </tr>
                                }
                                <tr align="left" class="dgrdcell">
                                    <td colspan="4">Your Cart Total</td>
                                    <td colspan="3" align="right"><h3><span id="labelTotalCharge2">Rs. @Model.NetPayment</span></h3></td>
                                </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <table width="97%" border="0" cellspacing="0" cellpadding="0" class="shoptable">

                            <tr>
                                <td width="15%" height="29"><strong>@Resources.CurrentAvailablePoints</strong></td>
                                <td width="54%">
                                    <span class="fieldValue">
                                        <input type="radio" value="usePoints" name="usePoints" id="Pay1">
                                        @Model.UsersPoints
                                </td>
                                @*<td align="right"><h2><a href="~/#">Apply Voucher</a></h2></td>*@
                            </tr>
                            <tr>
                                <td colspan="2">&nbsp;</td>
                                <td align="right">&nbsp;</td>
                            </tr>
                        </table>
                        <p>&nbsp;</p>
                        <table width="97%" border="0" cellspacing="5" cellpadding="5">
                            <tr>
                                <td width="53%" bgcolor="#E4E4E4" class="bordertop"><h3>Final Amount to Pay :</h3></td>
                                <td width="47%" align="right" bgcolor="#E4E4E4" class="bordertop">
                                    <h3>
                                        <span id="labelTotalCharge">
                                            Rs. @Model.NetPayment
                                        </span>
                                    </h3>
                                </td>
                            </tr>
                        </table>
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <table width="97%" border="0" cellspacing="5" cellpadding="5" class="shoptable" style="border:1px solid #CCCCCC;">
                            <tr>
                                <td width="53%"><h2>Payment Options</h2></td>
                                <td width="47%">&nbsp;</td>
                            </tr>
                            <tr bgcolor="#EBC6AD">
                                <td>
                                    <div class="Paymenttd">
                                        <ul>
                                            <li>
                                                <input type="radio" value="offline" name="paymentmethod" id="Pay1">
                                                <b>Cheque / DD / Cash / NEFT / RTGS</b><br>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                                <td>
                                    <div class="Paymenttd">
                                        <ul>
                                            <li>
                                                <input type="radio" value="dtcard" name="paymentmethod" id="Pay3">
                                                <b>e-Wallet Payment</b>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>You can Deposit a cheque / DD / Cash /NEFT /RTGS </td>
                                <td>Prepaid Card /e-Wallet Card. </td>
                            </tr>
                        </table>

                        <p>
                            <div class="buttonSet">
                                <span class="buttonAction"><a class="unishop_submit" href="~/#">Make Payment</a></span>
                            </div>
                        </p>


                        <p>&nbsp;</p>
                    </div>

                    @Html.Action("getCatHeirarchy", "Home", new { Cat = ViewBag.ParentId, subCat = ViewBag.category })
                </div>
            </div>
        