@model DTShopping.Models.order
@{
    ViewBag.Title = "Checkout";
}

<div class="">
    <div class="container">
        <div class="sixteen columns">
            <div class="breadcrumbs_box">
                <a href="http://www.ethemeuk.com" class="headerNavigation1">Top</a><a href="index.php" class="headerNavigation1">Catalog</a><span class="headerNavigation">Create an Account</span>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="sixteen columns">
        <div id="bodyContent" class="twelve columns omega main_part_wrapper">
       
            <h1>Checkout</h1>
            <form data-parsley-validate class="validateForm form-horizontal form-style" id="addorderForm" onsubmit="return SaveOrderForm();">
                <table width="98%" cellspacing="0" cellpadding="10" border="0">
                    <tbody>
                        <tr>
                            <td>
                                <table width="100%" cellspacing="1" cellpadding="5" style="border:1px solid #CCCCCC;" class="shoptable">
                                    <tbody>
                                        <tr>
                                            <td colspan="2" bgcolor="#CCCCCC"><h2>Shipping  Address</h2></td>
                                        </tr>

                                        <tr>
                                            <td height="30" align="right"><strong>Delivery Type</strong></td>
                                            <td height="30">
                                               <select name="AddressType" id="AddressType">
                                                   <option value="1">Pickup From Store/Corporate Office</option>
                                                   <option value="2">Pickup From Authorized Distributor/Dealer</option>
                                                   <option value="3">Home</option>
                                                   </select>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="30" align="right"><strong>Business Name</strong></td>
                                            <td height="30">
                                                @Html.HiddenFor(m=>m.user_id)
                                                @Html.TextBoxFor(m => m.companyName, new { @type = "text", @id = "companyName", @required = "required", @placeholder = "" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="30" align="right"><strong>Retailer First Name</strong></td>
                                            <td height="30">
                                                @Html.TextBoxFor(m => m.billing_first_name, new { @type = "text", @id = "first_name", @required = "required", @placeholder = "" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="30" align="right"><strong>Retailer Last Name</strong></td>
                                            <td height="30">
                                                @Html.TextBoxFor(m => m.billing_last_name, new { @type = "text", @id = "billing_last_name", @required = "required", @placeholder = "" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="30" align="right"><strong>Address 1</strong></td>
                                            <td height="30">
                                                @Html.TextBoxFor(m => m.billing_address_1, new { @type = "text", @id = "billing_address_1", @required = "required", @placeholder = "" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td height="30" align="right"><strong>Address 2</strong></td>
                                            <td height="30">
                                                @Html.TextBoxFor(m => m.billing_address_2, new { @type = "text", @id = "billing_address_2", @required = "required", @placeholder = "" })
                                            </td>
                                        </tr>


                                        <tr>
                                            <td height="30" align="right"><strong>City</strong></td>
                                            <td height="30">
                                                @Html.TextBoxFor(m => m.billing_city, new { @type = "text", @id = "billing_city", @required = "required", @placeholder = "" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="30" align="right"><strong>State</strong></td>
                                            <td height="30">
                                                @Html.TextBoxFor(m => m.billing_state, new { @type = "text", @id = "billing_state", @required = "required", @placeholder = "" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="30" align="right"><strong>Zip/Postal Code</strong></td>
                                            <td height="30">
                                                @Html.TextBoxFor(m => m.billing_postcode, new { @type = "text", @id = "billing_postcode", @required = "required", @placeholder = "" })
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="30" align="right"><strong>Phone</strong></td>
                                            <td height="30">
                                                @Html.TextBoxFor(m => m.billing_phone, new { @type = "text", @id = "billing_phone", @required = "required", @placeholder = "" })
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>


                        <tr>
                            <td colspan="2" align="center">
                                <table width="11%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>
                                            <div class="buttonSet">
                                                <span class="buttonAction">
                                                    <button class="unishop_button" type="submit">Submit</button>
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </form>

</div>       
@Html.Action("getCatHeirarchy", "Home", new { Cat = ViewBag.ParentId, subCat = ViewBag.category })
    </div>
</div>
<script>

    function SaveOrderForm()
    {
        $(".preloader").show();        
        var orderDetail = $('#addorderForm').serialize();
        
        $.ajax({
            url: '/Home/CreateOrder',
            type: 'Post',
            datatype: 'Json',
            data: orderDetail
        }).done(function (result) {
            $(".preloader").hide();
            alert(result.ResponseValue);
            //location.reload();
        }).fail(function (error) {
            $("#error").html(error.statusText);
            $(".preloader").hide();
        });

        return false;
    }
</script>


